<div class="container">
    <div class="ui-g">
        <div class="ui-g-12">
            <h1>Lançamentos</h1>
        </div>

        <div class="ui-g-12 ui-fluid">
            <label>Descrição</label>
            <input pInputText type="text" />
        </div>

        <div class="ui-g-12">
            <label style="display: block;">Vencimento</label>
            <input pInputText type="text" style="width: 95px;" />

            <label>até</label>
            <input pInputText type="text" style="width: 95px;" />
        </div>

        <div class="ui-g-12">
            <button pButton type="submit" label="Pesquisar"></button>
        </div>
    </div>

    <div class="ui-g">
        <div class="ui-g-12">
            <p-dataTable [value]="lancamentos">
                <p-column header="Pessoa" field="pessoa"></p-column>
                <p-column header="Descricao" field="descricao"></p-column>
                <p-column header="Vencimento" field="dataVencimento" styleClass="col-data"></p-column>
                <p-column header="Pagamento" field="dataPagamento" styleClass="col-data"></p-column>
                <p-column header="Valor" field="valor" styleClass="col-valor"></p-column>
            </p-dataTable>
        </div>

    </div>

</div>
