/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #404c51;
}

label {
    font-weight: bold;
}

button {
    font-weight: bold;
}

@media (min-width: 1200px){
    .container{
        width: 1170px;
        margin: 0 auto;
    }
}

.col-valor-th{
    width: 120px;
}
.col-valor-td{
    text-align: right;
}

.col-data-th{
    width: 120px;
    text-align: center;
}

